.acordeon{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid whitesmoke ;
    border-radius: 1rem;
    margin: 1rem 0;
    transition: .50s;
}

.acordeon.open,
.acordeon:hover{
    background-color: #614470;
    border-color: #614470;
}

.acordeon .trigger {
    font-size: 1.25rem;
    font-weight: 700;
    text-align: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    color: whitesmoke;
    border: none;
}

.acordeon .trigger::after{
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('/assets/img/arrow-top.svg');
    transition: .25s;
}

.acordeon.open .trigger::after{
    transform: rotate(180deg);
}

.acordeon .trigger:hover{
    cursor: pointer;
}

.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.acordeon.open .content {
    display: block;
    padding: 0 1rem 1rem 2rem;
    height: auto;
    opacity: 1;
}